PDE/
RESTAPI/
androidApp/
androidApp2/
androidMirror/
apache_spark/
automateWhatsapp/
barcode/
borderless/
calculatorApp/
email_sending/
examtopics_scrap/
excelPython/
file_moving/
gcp/
great_expectations/
logging/
lucene/
mapReduce/
mida/
mouse_click/
nlp_extract/
pdf_extraction/
pdf_reader/
projectF1/
python_commandline/
sample_git_practice/
scrap_researchGate/
scrapping/
selenium_automation/
simple_webLogin/
text_to_speech/
unfairAdvantage/
unfairAdvantage-Internal-Final_Code_Compilation/
whatsapp_analysis/
yolov8/